<section class="user_statistics">
  <h1>статистика</h1>
  <% @subjects.each do |subject| %>
    <%= link_to subject.name, subject_statistics_user_path(subject_id: subject.id), method: :post, remote: true %>
  <% end %>

  <div class="statistic_wrap">
    <%= render partial: 'users/user_statistics', locals: { statistics: @statistics } %>
  </div>
</section>
