<section class="end_test">
  <div class="fail">
    <h1>Тест <span>провален</span></h1>
    <p><span>3</span> правельных из 10</p>
    <p>Вы набрали 53% из неободимых 80%</p>
    <h2>Повторите следующие темы:</h2>
    <p>- вопрос, тема + ссылка на литературу</p>
    <p>- вопрос, тема + ссылка на литературу</p>
    <p>- вопрос, тема + ссылка на литературу</p>
    <p>- вопрос, тема + ссылка на литературу</p>
  </div>
</section>
