<section id="index-hello">
  <div class="center hero-unit">
    <h1>Добро пожаловать в систему дистанционного тестирования</h1>
    <h2> Тестирование будет доступено после регистрации/входа!</h2>

    <% if current_user %>
      <p>Выбрать предмет тестирования(селектор)</p>
      <p>Начать тестирование</p>
    <% else %>
      <%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'btn btn-large btn-primary' %>
    <% end %>
  </div>
</section>
