.all_statistics {
  .ratings_wrap {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 20px;
    margin-top: 20px;

    .table {
      width: 90%;
      margin: 20px auto 40px;
      background-color: rgba(0, 0, 0, 0.6);

      thead {
        th {
          text-align: center;
        }
      }

      tbody {
        th {
          text-align: center;
        }
      }
    }
  }
}

.user_statistics {
  .statistic_wrap {
    .table {
      width: 90%;
      margin: 20px auto 40px;
      background-color: rgba(0, 0, 0, 0.6);

      thead {
        th {
          text-align: center;
        }
      }

      tbody {
        th {
          text-align: center;
        }
      }
    }

    .stat_info {
      color: #ffc107;
      margin-top: 20px;
      font-size: 20px;
    }
  }
}

.user_statistic {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px 20px;
}
