.test_wrapper {
  .test-main {
    position: relative;
    margin-top: 35px;

    .subject_name {
      position: absolute;
      left: 0;
      top: -75px;
      min-width: 105px;
      height: 35px;
      padding: 6px 10px;
      color: #fff;
      background-color: #138496;
      border-color: #117a8b;
      border-bottom-right-radius: 6px;
    }

    .question_wrap {
      width: 1100px;
      min-height: 209px;
      margin: 0 auto;
      background-color: #fff;
      color: #000;
      border-radius: 6px;
      padding: 15px;
    }

    .answer_wrapper {
      display: flex;
      margin: 40px auto 0;
      padding-bottom: 80px;
      width: 1100px;
      justify-content: space-between;

      @include breakpoint(sm) {
        width: 700px;
      }

      @include breakpoint(md) {
        width: 900px;
      }

      @include breakpoint(lg) {
        width: 1100px;
      }

      .input_block {
        width: 700px;
        display: flex;
        height: 66px;
        border-radius: 5px;
        background-color: #fff;
        z-index: 5;

        @include breakpoint(sm) {
          width: 700px;
        }

        @include breakpoint(md) {
          width: 900px;
        }

        @include breakpoint(lg) {
          width: 1100px;
        }

        .input_answer {
          padding-left: 30px;
          border-radius: 5px;
          border:none;
          font-family: "GraublauSans-Bold";
          font-size: 24px;
          color: #403e3f;
          width: 76%;
          z-index: 6;

          &:focus {
            border: none;
            outline: none;
          }
        }


        .input_answer::-webkit-input-placeholder {color: #403e3f;}
        .input_answer::-moz-placeholder          {color: #403e3f;}/* Firefox 19+ */
        .input_answer:-ms-input-placeholder      {color: #403e3f;}

        .input_wrapper {
          width: 23%;
          height: 66px;
          border-left: 2px solid #bce0f2;
          position: relative;

          .input_btn {
            background-color: #fff;
            border: none;
            font-family: "GraublauSans-Regular";
            font-size: 18px;
            height: 66px;
            color: #7cc04b;
            width: 100%;
            border-radius: 5px;
          }
        }

        .done_answer {
          position: relative;
          font-family: "Proxima-Nova-Regular";
          font-size: 18px;
          font-weight: bold;
          color: blue;
          right: 25px;
          min-width: 155px;
          padding-top: 20px;
          padding-left: 10px;
          z-index: 10;
          background-color: #fff;
          text-align: right;
        }
      }
    }
  }

  .end_test {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 20px;
  }
}
